<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div align="center" class="mr-5"><h1>История</h1></div>
<br/>

<table class="table">
    <thead>
    <tr>
        <th> Исходная валюта</th>
        <th> Целевая валюта</th>
        <th> Исходная сумма</th>
        <th> Получаемая сумма</th>
        <th> Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${allEntries}">
        <td><span th:text="${entry[0]}"></span></td>
        <td><span th:text="${entry[1]}"></span></td>
        <td><span th:text="${entry[2]}"></span></td>
        <td><span th:text="${entry[3]}"></span></td>
        <td><span th:text="${entry[4]}"></span></td>
    </tr>
    </tbody>
</table>

<div align="center" class="mr-5">
    <a class="btn btn-link" href="/main" role="button">Вернуться на главную</a>
</div>

</body>
</html>